@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Shippori+Mincho+B1&display=swap');

body {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;

  
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.display-4 {
    /* font-family: "M PLUS 1 Code", monospace; */
    font-weight: 500;
    font-style: normal;
    /* box-shadow: 0, 0 10px rgba(0, 0, 0, 1); */
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */
}

.hero p {
    
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

section {
    padding: 50px 50px;
}

img {
    width: 40%;
    height: auto;
    /* width: 50px;
    height: 50px; */
    display: inline-block;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    border-radius: 9%;
}

.hero {
    background-image: url("https://github.com/rat-gate67/nenechi.github.io/blob/master/img/kokura.jpg?raw=true");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(10, 0, 0, 0.5);
    z-index: -1;
}

.description {
    padding-top: ;
    /* background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */

}
/* 
.d-block {
    width: 100%;
    height: auto;
} */

.instagram-media {
    /* margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */
    margin-left: auto;
	margin-right: auto;
}

.service h2 {
    margin-bottom: 100px;

}

.carousel {
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu h2 {
    margin-bottom: 100px;
}
